<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
 <title>BSCIT-Notes</title>
<link rel="stylesheet" type="text/css" href="css/custom.css">
<link rel="stylesheet" type="text/css" href="css/skeleton.css">
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css?family=Crete+Round|Quicksand|Heebo" rel="stylesheet">
<script>
function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}
</script>
    <!--Navbar-->
<header class="tophead"><p>BSC-IT Notes</p></header>
<div class="topnav" id="myTopnav">
  <a href="index.html">Home</a>
  <a href="ip.html">Imperative Programming</a>
  <a href="os.html">Operating System</a>
  <a href="de.html">Digital Electronics</a>
  <a href="bc.html">Bussiness Communication</a>
  <a href="dm.html">Disecrete Mathematics</a>
  <a href="upload.html">Add Notes</a>
  <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
</div>
    </head>
    <body>
{{content}}
    </body>
<footer>Developed by - Nadeem Siddique<br>Source Code available at <a href="https://github.com/purplecandy/college" target="_blank">Github</a></footer>
</html>
